body {
    margin: 0;
    background-color: #b0d3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .page {
    background-color: #fff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 0 15px #000000b4;
    max-width: 90%;

  }
  
  .container {
    text-align: center;
  }
  
  
  .tweet-box {
    position: relative;
  }
  
  textarea {
    width: 100%;
    height: 200px;
    border: 2px solid #333;
    border-radius: 15px;
    font-size: 16px;
    padding: 1rem;
    resize: none;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
  }
  
  textarea.limit-reached {
    border-color: red;
    color: red;
  }
  
  #charCount {
    position: absolute;
    bottom: 95px;
    right: 20px;
    font-size: 14px;
    color: #000000;
  }
  
  .limit-reached-text {
    color: rgb(255, 0, 0);
  }
  
  #submitBtn {
    margin-top: 1rem;
    padding: 1.3rem 6rem;
    font-size: 22px;
    background-color: #126bf1;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  #submitBtn.off {
    background-color:#676767;
    opacity: 1;
    cursor: not-allowed;
  }
  
  #submitBtn:hover {
    background-color: #1464dd;
  }
  
 